<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Covid Colombia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Corona virus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of data">
    <ion-card-header>
      <ion-card-subtitle>COVID-19</ion-card-subtitle>
      <ion-card-title>Estadisticas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ciudad: {{item.cidad}}
    </ion-card-content>
    <ion-card-content>
      Casos Confirmados: {{item.casosconfirmados}}
    </ion-card-content>
    <ion-card-content>
      Casos recuperados: {{item.casosrecuperados}}
    </ion-card-content>
    <ion-card-content>
      Muertes: {{item.muertes}}
    </ion-card-content>
    <ion-card-content>
      Casos Activos: {{item.casosactivos}}
    </ion-card-content>
   


  </ion-card>
  
</ion-content>