<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reporte Evaluaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let data of Ser.Formulario">
      <table class="egt" align="center" border="3">
      
        <tr align="center">
          <th style="width:50px">Nombre </th>
          <th style="width:50px">Correo </th>
          <th style="width:50px">Edad </th>
          <th style="width:50px">Tos </th>
          <th style="width:50px">Falt o Dif respiratoria </th>
          <th>1 </th>
          <th>2 </th>
          <th>3 </th>
          <th>4 </th>
          <th>5 </th>
          <th>6</th>
          <th>7 </th>
          <th>Ninguno </th>
          <th>personas:Covid19 </th>
          <th>personas:Sintomas </th>
          <th>personas:Viaje </th>
        </tr>
        <tr align="center">
          <td style="width:200px">{{data.Nombre}} </td>
          <td style="width:200px">{{data.Correo}} </td>
          <td style="width:50px">{{data.edad}} </td>
          <td style="width:50px">{{data.Tos}} </td>
          <td style="width:50px">{{data.FalDif}} </td>
          <td style="width:50px">{{data.Resfriado}} </td>
          <td style="width:50px">{{data.Escalofrio}} </td>
          <td style="width:50px">{{data.DolMusc}} </td>
          <td style="width:50px">{{data.DolCabe}} </td>
          <td style="width:50px">{{data.DolGar}} </td>
          <td style="width:50px">{{data.PerdOlfa}} </td>
          <td style="width:50px">{{data.PerdSab}} </td>
          <td style="width:50px">{{data.Ninguno}} </td>
          <td style="width:50px">{{data.Covid}} </td>
          <td style="width:50px">{{data.SintCovid}}</td>
          <td style="width:50px">{{data.Viajo}}</td>
          
        </tr>
        
     
      
      </table>
    </ion-item>
  
  </ion-list>
</ion-content>
