
<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Formulario de evaluacion</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list>
        <ion-radio-group value="form">
          <ion-list-header>
            <ion-label>¿HA TENIDO USTED LOS SIGUIENTES SINTOMAS EN LAS ULTIMAS 24 HORAS?</ion-label>
          </ion-list-header>
          <ion-list-header>
            <ion-label>Tos</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="start" color="success" value="Sitos"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" color="tertiary" value="Notos"></ion-radio>
          </ion-item>

          <ion-list-header>
            <ion-label>FALTA DE ALIENTO O DIFULTAD PARA RESPIRAR</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="start" color="success" value="Sifal"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" color="tertiary" value="Nofal"></ion-radio>
          </ion-item>

          <ion-list-header>
            <ion-label>¿HA PRESENTADO POR LO MENOS DOS SINTOMAS DE ESTOS EN LAS ULTIMAS 24 HORAS? </ion-label>
          </ion-list-header>
          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Resfriado"> Resfriado
          </ion-item>

          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Escalofrio"> Escalofrio
          </ion-item>

          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Resfriado"> Dolor muscular
          </ion-item>

          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Escalofrio"> Dolor de cabeza
          </ion-item>

          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Resfriado"> Dolor de garganta
          </ion-item>

          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Escalofrio"> Perdida de Olfato
          </ion-item>

          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Resfriado"> Perdida de sabor en la comida
          </ion-item>
        
          <ion-item>
            <input type = "checkbox" name = "transporte" value = "Resfriado"> Ninguno
          </ion-item>
        </ion-radio-group>

        <ion-list-header>
          <ion-label>EN LOS ULTIMOS 14 DIAS TE HAS RELACIONADO CON PERSONAS QUE: </ion-label>
        </ion-list-header>
        <ion-list-header>
          <ion-label>¿Le diagnosticaron COVID 19? </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="success" value="Sicov"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="tertiary" value="Nocov"></ion-radio>
        </ion-item>
        <ion-list-header>
          <ion-label>¿tenia o tiene sintomas de COVID19? </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="success" value="Sicov"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="tertiary" value="Nocov"></ion-radio>
        </ion-item>

        <ion-list-header>
          <ion-label>¿Viajó internacionalmente o tomó un crucero? </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="success" value="Sicov"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="tertiary" value="Nocov"></ion-radio>
        </ion-item>

        <ion-item>
          Nombre: <input  type = "text"  name = "nombre"  id = "nombre"  /> 
        </ion-item>
        <ion-item>
          Edad: <input  type = "range"  max = "100"  min = "5"  name = "edad"  id = "edad"  /> 
        </ion-item>
        
        <ion-item>
          Correo electrónico: <input  type = "email"  name = "email"  id = "email"  /> 
        </ion-item>

        <ion-item>
          Correo electrónico: <input  type = "email"  name = "email"  id = "asdasnd"  /> 
        </ion-item>
        
        
        
        

        



      
      </ion-list>
    </ion-content>
  </ion-app>
</body>
